

// Grid system

$gutter-spacing: $sp-6;
$gutter-spacing-sm: $sp-6;
$nav-width: 268px;
$nav-width-md: 268px;
//$nav-list-item-height: $sp-6 !default;
//$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: false;
$content-width: 1300px;
//$header-height: 60px !default;
//$search-results-width: $content-width - $nav-width !default;
//$transition-duration: 400ms;



